.avatar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 32px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.avatar__info > .avatar__name {
  font-size: 25px;
  color: rgb(167, 54, 54);
  text-align: center;
}
